<h1>更新候選人名單</h1>

<%= form_for(@candidate) do |form| %>

    <div>
        <%= form.label "候選人姓名" %>
        <%= form.text_field :name %>
    </div>

    <div>
        <%= form.label "黨派" %>
        <%= form.text_field :party %>
    </div>
    
    <div>
        <%= form.label "年紀" %>
        <%= form.text_field :age %>
    </div>

    <div>
        <%= form.label "候選人政見" %>
        <%= form.text_area :politics %>
    </div>

    <%= form.submit "更新候選人" %>
<% end %>